<h1>Sobre</h1>
<p>Este site foi desenvolvido com o intuito de mostrar todas as finanças da Congregação Presbiteriana do Alto do Mateus.</p>
<p>Nosso maior desejo é deixar tudo que fazemos com sua contribuição de forma bem transparente.</p>
<p>Obrigado!</p>
